@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'QuickSand';
    font-weight: 400;
}

.inpit-{
    background: rgba(112, 111, 111, 0.3);
    outline: none;
}